@import "null.css";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Taviraj&display=swap');
.wrapper{
   min-height: 100%;
	overflow: hidden;
}
body{
   font-family: "Lato";
}
.content{
   max-width: 500px;
   margin: 0px auto;
   padding: 10px 0;
}
h2{
   font-size: 16px;
   font-weight: 700;
   line-height: 150%;
   letter-spacing: 1px;
   text-transform: uppercase;
   color: #1E212C;
   margin-bottom: 8px;
}
h1{
   font-weight: 900;
   font-size: 46px;
   line-height: 130%;
   color: #1E212C;
   margin-bottom: 40px;
}
.list li{
   max-width: 358px;
   font-size: 16px;
   line-height: 160%;
   color: #424551;
   margin: 0 0 12px 0;
}
.list li::before{
   content: '';
   display: inline-block;
   background: url('../img/check.svg')0 0 no-repeat;
   width: 16px;
   height: 16px;
   margin: 0 16px 0 -36px;
}
.list{
   margin-bottom: 48px;
}
.button-body{
   display: inline-block;
   width: 161px;
   height: 44px;
   background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
   border-radius: 4px;
   font-size: 14px;
   line-height: 44px;
   text-align: center;
   letter-spacing: 0.5px;
   color: #FFFFFF;
   margin-bottom: 60px;
}
.button-body:hover{
   background: rgb(255, 255, 255);
   border: 1px solid #FF3F3A;
   color: #FF3F3A;
}
.second-part{
   padding: 5px;
}
.block-body p{
   font-family: "Taviraj";
   font-size: 36px;
   line-height: 40px;
   letter-spacing: 0.02em;
   color: #333333;
}
.block-body p::after{
   content: "";
   display: block;
   margin: 5px 0 0 0;
   width: 65px;
   border: 1px solid #333333;
   background-color: #333333;
}